h1 {
  font-weight: bold;
  font-size: 30px;
}
h2 {
  font-size: 26px;
}
h2 li {
  font-size: 22px
}
ul li  {
  font-weight: bold;
}
li a {
  font-size: 20px
}
p {
  font-size: 20px
}
header {
  font-size: 60px;
  font-family: serif;
  font-weight: bolder;
  background-color: #ee3e80;
  text-align: center;
}
body {
  background-image: url(bk.jpg);
  background-size: 500px 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FF9A82;
}

footer a: hover {
  color:transparent;
  display: inline-block;
  text-align: center;
  font-weight: bolder;
}
div {
  text-align: center;

}
