
/** {
  outline: dotted 1px black;
  }*/
  header {
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  color: #DF212C;
}
div.bod {
border: 6px double #542262;
padding: 40px;
}
body {
  font-family: cursive;
  /*background-color: #B7BFB1;*/
  color: #C8331A;
  background-image: url(bk.jpg);
  background-size: 74%;
  background-repeat: no-repeat;
  background-position: center;;
}
h1 {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}
h1 span {
  width: 150px;
  float: right;
  display: block;
  font-size:20px;
}
h1 span a {
  color: #C83398;
  font-weight: bolder;;
}
span {
  text-align: center;
  display: block;
}
/*Midsec*/
.mid {
  display: block;
  float: right;
  width: 33%;
  clear: left;
}
h3 {
  font-size: 24px;
  text-align: center;
  border: 3px;;
  color: white;
}
li a:hover {
  font-size: 18px;
  text-decoration: none;
  font-weight: bolder;
  color: #C83398;
}
ul li {
  font-size: 20px;
  text-align: center;
}
.bot {
  font-size: 24px;
  margin-top: 30px;
  display: block;
}
ul a {
  font-size: 16px;
  text-align: center;
  font-weight: bolder;;
  color: #C83398;
}
.bot a {
  font-size: 18px;
  font-weight: bolder;;
  color: #C83398;
}
ul {
  font-size: 16px;
}
